{
    "presets": [["@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.17.3"
      }
    ]],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-export-default-from"
    ]
  }